// Import fonts
@import "./fonts/nexa/stylesheet.css";
@import "./fonts/open-sans/stylesheet.css";

// Color
$primary: #c50637;
$dark: #212121;
$neutral-light: hsla(129, 7%, 20%, 0.12);
$white: #fff;
$black: #000;

$navbar-dark-color: $white;

// Spacing
$big-spacing: 8.75;

// Font-family
$ff-primary: 'nexabold', sans-serif;
$ff-secondary: 'open_sansregular', sans-serif;
$ff-secondary-700: 'open_sansbold', sans-serif;
$ff-secondary-300: 'open_sanslight', sans-serif;

$font-family-base: $ff-secondary;
$headings-font-family: $ff-primary;
$ff-time: $ff-primary;
$ff-link: $ff-secondary-700;
$ff-quick-link: $ff-primary;
$btn-font-family: $ff-secondary-700;
$ff-text-light: $ff-secondary-300;

// Font-size
$font-size-base: 1.19rem;

// Button
$btn-border-radius: 0;

// Card
$card-border-radius: 0;
$card-border-width: 0;

//Import the functions and the variables
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules//bootstrap/scss/variables";

$custom-spacing: (
    6: $spacer * $big-spacing
);
$spacers: map-merge($custom-spacing, $spacers);

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

h2 {
    @include font-size(3.125rem);
}

.nav-link {
    font-family: $ff-link;
}

.quick-link a.nav-link {
    font-family: $ff-quick-link;
}

time {
    font-family: $ff-time;
}

// General classes
.title-big {
    @include font-size(5.94rem);
}

.fb-content {
    flex-basis: content;
}

.text-fw-300 {
    font-family: $ff-text-light;
}

.link-padded-underline {
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 1px;
    padding-bottom: 3px;
    font-family: $ff-link;
}

// Add boxshadow header
header {
    position: sticky;
    top: -1px;
    z-index: 3;
}

.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .5);
}

// Customize Bootstrap classes
.dropdown-toggle::after {
    display: none;
}

// Custom elements
.custom-toggle {
    width: 45px;
    height: 3px;
    position: relative;
    background-color: $black;
    z-index: 2;
    transition: .4s linear;

    &::before {
        background-color:$black;
        content: " ";
        position: absolute;
        width: 45px;
        height: 3px;
        top: 13px;
        right: 0;
        transition: .4s linear;
    }

    &::after {
        background-color: $primary;
        content: " ";
        position: absolute;
        width: 30px;
        height: 3px;
        top: 26px;
        left: 0;
        transition: .4s linear;
    }

    &+span {
        padding-top: 2.2rem;
    }
}

button[aria-expanded="true"] .custom-toggle {
    transform-origin: top;
    transform: rotateZ(45deg) translate(8px, 0px);
    
    &::before {
        transform-origin: top;
        width: 50%;
        transform: translate(-14px, -22px) rotateZ(-90deg);
    }

    &::after {
        transform-origin: bottom;
        width: 50%;
        transform: translate(12px, -15px) rotateZ(-90deg);
    }
}

// Pages specific styles
.page-home {
    h3::first-letter {
        color: $primary;
    }

    .main-carousel {
        min-height: 75dvh;

        >.carousel-inner {
            height: 75dvh;

            >.carousel-item {
                height: 75dvh;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right;
            }

            >.carousel-item:nth-child(1) {
                background-image: url('/images/cover.jpg');
            }

            >.carousel-item:nth-child(2) {
                background-image: url('/images/cover.jpg');
            }

            >.carousel-item:nth-child(3) {
                background-image: url('/images/cover.jpg');
            }
        }
    }

    .text-v-center-absolute {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .text-overlay > * {
        background: rgba(255, 255, 255, 0.75);
    }

    .carousel-indicators [data-bs-target] {
        background-color: $neutral-light;
        margin-left: 0;
        margin-right: 0;
    }

    .carousel-indicators .active {
        background-color: $primary;
    }

    @media (min-width: 992px) {
        .carousel-indicators {
            top: 11.5rem;
            bottom: unset;
            right: unset;
            margin: 0;
        }

        .container-quick-link {
            position: relative;
            bottom: 15vh;
        }
    }
}

// Animation
.zoom-icon {
    transform: scale(1);

    &:hover img {
        transform: scale(1.2);
        transition-duration: 0.8s;
        transition-timing-function: ease-in;
    }
}

.translate-link {
    transition: transform 0.7s ease-in-out;
}

.translate-link:hover {
    transform: translateX(30px);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.fade-in > .nav-item {
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
}

.fade-in > .nav-item:nth-child(1) {
    animation-delay: 0s;
}

.fade-in > .nav-item:nth-child(2) {
    animation-delay: 0.25s;
}

.fade-in > .nav-item:nth-child(3) {
    animation-delay: 0.50s;
}

.fade-in > .nav-item:nth-child(4) {
    animation-delay: 0.75s;
}

.fade-in > .nav-item:nth-child(5) {
    animation-delay: 1s;
}

.fade-in > .nav-item:nth-child(6) {
    animation-delay: 1.25s;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


.fade-left {
    animation: fade-left 1s ease-in;
}

@keyframes fade-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
