// Import fonts
@import "./fonts/nexa/stylesheet.css";
@import "./fonts/open-sans/stylesheet.css";

// Color
$primary: #c50637;
$dark: #212121;
$neutral-light: hsla(129, 7%, 20%, 0.12);
$white: #fff;
$black: #000;

$navbar-dark-color: $white;
$nav-link-color: $black;
$emphasis-color: $primary;

// Spacing
$big-spacing: 8.75;

// Font-family
$ff-primary: 'nexabold', sans-serif;
$ff-secondary: 'open_sansregular', sans-serif;
$ff-secondary-bold: 'open_sansbold', sans-serif;
$ff-secondary-light: 'open_sanslight', sans-serif;

$ff-body: $ff-secondary;
$ff-heading-2: $ff-primary;
$ff-heading-3: $ff-secondary;
$ff-time: $ff-primary;
$ff-quick-link: $ff-primary;
$ff-link: $ff-secondary-bold;
$ff-btn: $ff-secondary-bold;
$ff-text-light: $ff-secondary-light;

//Import the functions and the variables
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules//bootstrap/scss/variables";

$custom-spacing: (
    6: $spacer * $big-spacing
);
$spacers: map-merge($custom-spacing, $spacers);

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: $ff-body;
}

h2 {
    font-family: $ff-heading-2;
    @include font-size(5.9375rem);
}

h3 {
    font-family: $ff-heading-3;
    @include font-size(1.1875rem);
}

.nav-link {
    font-family: $ff-link;
    font-weight: bold;
}

.quick-link a.nav-link {
    font-family: $ff-quick-link;
}

time {
    font-family: $ff-time;
}

// General classes
.fb-content {
    flex-basis: content;
}

.text-light {
    font-family: $ff-text-light;
}

.btn-radius-0 {
    border-radius: 0;
}

.link-padded-underline {
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 1px;
    padding-bottom: 3px;
    font-family: $ff-link;
}

.card-border-none {
    border: none;
    border-radius: 0;

    img {
        border-radius: 0;
    }
}

// Customize Bootstrap classes
.btn {
    font-family: $ff-btn;
}

.dropdown-toggle::after {
    display: none;
}

// Custom elements
.custom-toggle {
    width: 45px;
    height: 3px;
    position: relative;
    background-color: $black;
    z-index: 2;

    &::before {
        background-color:$black;
        content: " ";
        position: absolute;
        width: 45px;
        height: 3px;
        top: 13px;
        right: 0;
    }

    &::after {
        background-color: $primary;
        content: " ";
        position: absolute;
        width: 30px;
        height: 3px;
        top: 26px;
        left: 0;
    }

    &+span {
        padding-top: 2.2rem;
    }
}

// Pages specific styles
.page-home {
    em {
        color: $emphasis-color;
        font-style: normal;
    }
    
    h2::first-letter {
        color: $primary;
    }

    .main-carousel {
        min-height: 75dvh;

        >.carousel-inner {
            height: 75dvh;

            >.carousel-item {
                height: 75dvh;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right;
            }

            >.carousel-item:nth-child(1) {
                background-image: url('/images/cover.jpg');
            }

            >.carousel-item:nth-child(2) {
                background-image: url('/images/cover.jpg');
            }

            >.carousel-item:nth-child(3) {
                background-image: url('/images/cover.jpg');
            }
        }
    }

    .text-v-center-absolute {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-width: 991px) {
        .text-overlay > * {
            background: rgba(255, 255, 255, 0.75);
        }
    } 

    .carousel-indicators [data-bs-target] {
        background-color: $neutral-light;
        margin-left: 0;
        margin-right: 0;
    }

    .carousel-indicators .active {
        background-color: $primary;
    }

    @media (min-width: 992px) {
        .carousel-indicators {
            top: 12.5rem;
            bottom: unset;
            right: unset;
            margin: 0;
        }

        .container-quick-link {
            position: relative;
            bottom: 15vh;
        }
    }
}

.page-news {
    h2 {
        @include font-size(3.125rem);
    }

    @media (min-width: 992px) {
        .actu div[class^="col"]:first-child {
            padding-left: 0;
        }
    
        .actu div[class^="col"]:last-child {
            padding-right: 0;
        }
    }
}
